.GlobalHeader {
  width: 1160px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px #b2b2b240;
  backdrop-filter: blur(4px);
  position: absolute;
  top: 16px;
  @media (max-width: 1200px) {
    width: 95%;
  }
}
