@import 'Styles/mixins';
@import 'Styles/variables';

.Notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  z-index: 1001;
  animation: fadeIn 0.3s ease-in-out, fadeOut 0.3s ease-in-out 2.7s;

  &-success {
    background-color: $green;
  }

  &-error {
    background-color: $pink;
  }

  &-info {
    background-color: $blue;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
