.AuthedContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  &-Content {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
