@import 'Styles/mixins';
@import 'Styles/variables';

.CreateEventForm {

    .LinkField {
      .LinkInput {
        max-width: 120px;

        border: none;
        font: inherit;

        outline: none;
      }
    }

    .CountField {
      width: 50%;

      .CountInput {
        flex: 1;
        border: none;
        font: inherit;

        outline: none;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
} 