@import 'Styles/mixins';
@import 'Styles/variables';
@import 'Styles/buttons';


.ListTableContainer {
    width: 1160px;
}

.UniversalListTable {
    @include text1;
    width: 100%;
    padding: 0px 8px;

    border-radius: $border-radius;
    background-color: $grey3;
    border-collapse: separate;
    border-spacing: 0 8px;


    thead {
        tr {
            th {
                padding: 8px;
                font-weight: normal;

                &:first-child {
                    text-align: start;
                }
            }
        }
    }

    tbody {
        tr {
            background-color: $white;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 12px;
            }

            td {
                padding: 12px;
                max-width: 200px;
                
                * {
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                }

                &:not(:first-child, :last-child) {
                    text-align: center;
                    border-top: 1px solid $yellow;
                    border-bottom: 1px solid $yellow;
                }

                .HiglightCell {
                    @include text2;
                    display: inline-block;
                    padding: 8px;
                    background-color: $blue;
                    border-radius: $border-radius;

                    &.HighlightGray {
                        background-color: $grey;
                    }
                }

                &:first-child {
                    border-radius: $border-radius 0 0 $border-radius;
                    border: 1px solid $yellow;
                    border-right: none;

                    max-width: 300px;
                }

                &:last-child {
                    border-radius: 0 $border-radius $border-radius 0;
                    border: 1px solid $yellow;
                    border-left: none;

                    max-width: 40px;
                }

                .LinkCell {
                    text-decoration: none;
                    color: $black;
                }

                .ThreeDotsButton {
                    cursor: pointer;
                }
                  
                .ActionsMenu {
                    @include text2;
                    position: absolute;
                    background-color: $white;
                    border: 1px solid $grey2;
                    border-radius: $border-radius;
                    padding: 4px;
                    top: 10px;
                    right: 40px;
                    z-index: 10;
                    list-style: none;
                  
                    li {
                      padding: 8px 12px;
                      width: 100%;

                      border-radius: $border-radius;
                      cursor: pointer;
                  
                      &:hover {
                        background-color: $yellow;
                      }
                    }
                }

                ul {
                    list-style: none;

                    li {

                        &.HiglightCell {
                            display: block;
                            padding: 4px;
                            margin-bottom: 2px;
                        }

                        a {
                            @include text1;
                            text-decoration: none;
                            color: $black;
                        }
                    }
                }

                &.ButtonsColumn {
                    max-width: 120px;
                    .primary-btn {
                        @include primary-btn;
                    }
                }  
            }
        }
    }
}

.NullMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  