.InfoCircleContainer {
    position: relative;
    display: inline-block;
}

.InfoCircleIcon {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.InfocircleTooltip {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 100;
}
