.planButton {
    height: 32px;
    padding: 0 16px;
    font-size: 14px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: none;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;

    &:disabled {
        background-color: #ccc;
        border-color: #ccc;
        cursor: not-allowed;
    }
}

.blue {
    background-color: #5C8DB9;
    border: 1px solid #5C8DB9;
    color: #fff;

    &:hover {
        background-color: #769FC2;
        border-color: #769FC2;
    }
}

.grey {
    background-color: #DDDFE4;
    color: #000;
    border: 1px solid #DDDFE4;

    &:hover {
        background-color: #c8ccd4;
        border-color: #c8ccd4;
    }
}

.white {
    background-color: #fff;
    color: #000;
    border: 1px solid #D9D9D9;

    &:hover {
        background-color: #f2f2f2;
        border-color: #c0c0c0;
    }
}
