@import 'Styles/mixins';
@import 'Styles/variables';

.CreateEventHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .LeftHeaderPanel {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
  
        .BackButton {
            background: none;
            border: none;

            cursor: pointer;
        }
    
        .HeaderTitle {
            @include h2;
        }
    }
}
  