@import 'Styles/mixins';
@import 'Styles/variables';

.kanban-container {
    display: flex;
    padding: 10px;
    gap: 20px;
    overflow-x: scroll;
}
                
.kanban-column {
    max-width: 360px;
    min-width: 280px;
    min-height: 650px !important;
    background: #fff;
    border-radius: $border-radius;
    padding: 12px 8px;
    box-shadow: 0px 0px 10px 6px rgba(167, 167, 167, 0.25);
}
                
.kanban-column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    border-radius: $border-radius;
    padding: 8px;

    &.green {
        background-color: $green;
    }

    &.red{
        background-color: $pink;
    }

    &.blue {
        background-color: $blue;
    }
}
                
.kanban-column-header h3 {
    @include h3;
    margin: 0;
    font-size: 16px;
}
                
.badge {
    background: white;
    border-radius: 12px;
    padding: 2px 8px;
    font-size: 14px;
}
                
.kanban-cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 100px;
}
                
.kanban-card {
    background: #F7F6F6;
    width: 204;
    border-radius: $border-radius;
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 8px 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.kanban-card.is-moving {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.card-header {
   margin: 0 0 8px 0; 
}
                
.card-header h4 {
    @include text1;
    margin: 0 0 8px 0;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
                
.card-footer {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}
                
.date {
    @include text2;
    display: flex;
    align-items: center;
}
                
.user {
    @include text2;
    padding: 4px;
    background-color: $blue;
    border-radius: 10px;
}

