@import '../../../../Styles/mixins';
@import '../../../../Styles/variables';

.RequestModalList {
    @include text3;
    @include no-scrollbar;
    padding: 8px 12px 12px 12px;
    height: calc(100% - 36px);
    overflow-y: auto;

    .RequestListItem {
        padding: 5px 10px;
        margin-bottom: 1px;

        border-radius: $border-radius;
        backdrop-filter: blur(20px);
        box-shadow: 0px 4px 20px 0px #00000040;

        cursor: pointer;

  
        &:hover, &.Selected {
            background-color: $grey;
        }
    }
}