.ViewModeButtons {
  display: flex;
  gap: 10px;
  border: 2px solid #5C8DB9;
  padding: 6px;
  border-radius: 10px;

  .ant-btn {
    height: 32px;
    padding: 0 16px;
    font-size: 14px;
    border-radius: 6px;
    background-color: #5C8DB9;
    border: 1px solid #5C8DB9;
    color: #fff;

    &:hover {
      background-color: #769FC2;
      border-color: #769FC2;
      color: #fff;
    }
  }

  .ant-btn-default {
    background-color: #F7F8FA;
    color: #3D4452;
    border: 1px solid #D9D9D9;

    &:hover {
      background-color: #5C8DB9;
      color: #fff;
    }
  }
}
