@import 'Styles/mixins';
@import 'Styles/variables';

.CreateEventContainer {
  width: 1160px;
  display: relative;
}

.CreateEventForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 612px;

    @include backgroundWithBefore(-16px, -54px, 16px, 720px, 948px);

    .EventFormField {
      @include text2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      padding: 12px;

      border-radius: $border-radius;
      border: 1px solid $grey;

      svg {
        color: $black;
      }

      &.DataField, &.LinkField, &.CountField {
        width: 50%;
      }
    }

    .EventDescription {
      min-height: 120px;
      display: block;
      resize: none;
      overflow: hidden;
    }

    .LinkField {
      .LinkInput {
        max-width: 120px;

        border: none;
        border-bottom: 1px solid $grey;
        font: inherit;

        outline: none;
      }
    }

    .CountField {
      .CountInput {
        max-width: 42px;
        
        border: none;
        border-bottom: 1px solid $grey;
        font: inherit;

        outline: none;
      }
    }
} 