@import 'Styles/mixins';
@import 'Styles/variables';
@import 'Styles/buttons';

.FormContainer {
    position: relative;
    padding: 24px 32px;
    
    border-radius: $border-radius;
    background-color: $white;
}

.FormField {
  @include text2;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 12px;

  border-radius: $border-radius;
  border: 1px solid $grey;

  outline: none;

  svg {
    color: $black;
  }
}

.Form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 596px;

    .ModalFormHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .ModalCloseButton {
        cursor: pointer;
      }
    }

    .NameContainer {
      width: 100%;

      .Name {
        width: 100%;
        border-radius: $border-radius $border-radius 0 0;
        border-bottom: none;
      }

      .Description {
        width: 100%;
        min-height: 120px;
        display: block;
        resize: none;
        overflow: hidden;

        border-radius: 0 0 $border-radius $border-radius;
      }
    }

    .ListField {
      position: relative;

      cursor: pointer;
    
      .DropdownList {
        position: absolute;
        top: 100%;
        left: 0;
        background: white;

        border: 1px solid #ccc;
        border-radius: $border-radius;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        z-index: 10;
        overflow: hidden;
    
        .DropdownItem {
          padding: 8px;
          cursor: pointer;
    
          &:hover {
            background-color: $grey;
          }
        }
      }
    }

    .FormButtons {
      display: flex;
      justify-content: end;
      gap: 12px;

      .primary-btn {
        @include primary-btn;
      }
    }
} 