@import 'Styles/mixins';

.FileUploader {
  display: flex;
  align-items: center;
  margin-block: 24px;

  h3 {
    @include h3;
    margin-right: 8px;
  }

  button {
    display: flex;
    gap: 4px;
    align-items: center;

    background: none;
    border: none;
    cursor: pointer;
  }
}
