@import 'Styles/mixins';
@import 'Styles/variables';
@import 'Styles/buttons';

.ProfileContainer {
    width: 1160px;

    .ProfileHeading {
        @include h2;
        margin-bottom: 24px;
    }

    .ProfileFullName {
        margin-bottom: 24px;

        .ProfileRole {
            @include text2;
            color: $grey;
        }
    }
    
    .ProfileForm {

        .ProfileColumns {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 24px;

            .ProfileColumn {
                flex: 1;

                h3 {
                    @include h3;
                    margin-bottom: 12px;
                }

                label {
                    @include text1;
                    display: inline-block;
                    margin-bottom: 4px;
                }

                .ant-form-item, .ProfileFieldValue {
                    margin-bottom: 12px;
                }

                .ProfileInput {
                    width: 100%;
                }

                .SpecializationSelector {
                    margin-bottom: 12px;
                }
            }
        }

        .ProfileActions {
            display: flex;
            justify-content: flex-end;
            gap: 12px; 
            width: 100%;
        }
    }
}